name: Cleanup DB Access on Issue Close or PR Close
on:
  issues:
    types:
      - closed
  pull_request:
    types:
      - closed

jobs:
  revoke-db-access:
    runs-on: ubuntu-latest
    steps:
      - name: Extract contributor username
        run: |
          # For Issue Close Trigger
          if [[ "${{ github.event_name }}" == "issues" ]]; then
            echo "CONTRIBUTOR=${{ github.event.issue.user.login }}" >> $GITHUB_ENV
          # For PR Close Trigger
          elif [[ "${{ github.event_name }}" == "pull_request" ]]; then
            echo "CONTRIBUTOR=${{ github.event.pull_request.user.login }}" >> $GITHUB_ENV
          fi

      - name: Remove temporary role
        run: |
          DB_URL="postgres://${{ secrets.NEON_DB_USER }}:${{ secrets.NEON_DB_PASSWORD }}@ep-dawn-butterfly-a6u946g4.us-west-2.aws.neon.tech/GDSC_DB?sslmode=require"
          # Revoke privileges from temporary role
          psql "$DB_URL" -c "REVOKE ALL PRIVILEGES ON DATABASE \"GDSC_DB\" FROM \"dev_${{ env.CONTRIBUTOR }}\";"
          psql "$DB_URL" -c "REVOKE ALL PRIVILEGES ON SCHEMA public FROM \"dev_${{ env.CONTRIBUTOR }}\";"
          psql "$DB_URL" -c "REVOKE ALL PRIVILEGES ON ALL TABLES IN SCHEMA public FROM \"dev_${{ env.CONTRIBUTOR }}\";"
          
          # Drop the temporary role
          psql "$DB_URL" -c "DROP ROLE IF EXISTS \"dev_${{ env.CONTRIBUTOR }}\";"
